.navbar>ul{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.navbar a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.navbar li:hover{
    text-decoration: underline;
    font-weight: bold;
}